.list {
  list-style: none;
  padding: 0;
}
.img {
  height: 200px;
  width: auto;
  float: left;
  margin-right: 10px;
}
.listItem {
  border-bottom: 1px solid #000000;
  min-height: 220px;
}
.listItem:not(:last-child) {
  margin-bottom: 40px;
}
.title {
  text-align: center;
}
